#portfolio_works{
    letter-spacing: .2rem;
    position: absolute;
    top: -26px;
    left:500px;
    font-weight: 800;
    font-size: 155px;
    color: #222222;
}
#my_portfolio{
    position: absolute;
    top:52px; left: 589px;
    display: flex;
    color: white;
    font-weight: 800;
    font-size: 64px;
}
#portfolio_title{
    color: #ffb400;
    font-size: 64px
}

#grid-project-parent{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 70px;
    margin-top: 300px;
}

.grid-project-child{
    width: 300px;
    height: 300px;
    background-color:  #111111;
    border-radius: 10px;
    transition: 2s;
    cursor: pointer;
}
.p-img{
    width: 300px;
    height: 200px;
    border-radius: 10px
}
.p-img:hover {
    background: #1a202c;
}

.grid-project-child:hover{
    transform: scale(0.9,0.9);
}

@media only screen and (max-width: 1200px) {
    #grid-project-parent{
        grid-template-columns: auto auto;
    }
    #portfolio_works{
        left:250px;
    }
    #my_portfolio{
        left: 320px;
    }
}

@media only screen and (max-width: 769px) {
    #grid-project-parent{
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 50px;
        margin-left: -35px;
    }
    #portfolio_works{
        display: none;
    }
    #my_portfolio{
        left: 20px;
    }
    @media only screen and (max-width: 700px) {
        #grid-project-parent {
            grid-template-columns: auto;
            grid-column-gap: 50px;
            margin-left: 10px;
        }

        #portfolio_works {
            display: none;
        }

        #my_portfolio {
            left: 20px;
        }
    }
}
